@charset "UTF-8";
/*全局公用样式 start*/
/* line 5, ../sass/layout/_all-init.scss */
body {
  font-family: 'Open Sans',Helvetica,Arial,Sans-serif,SimHei,"Microsoft YaHei";
  font-size: 14px;
  color: #F6F6F9;
  background: #efefef;
}

/* line 8, ../sass/layout/_all-init.scss */
html, body, div, p, ol, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td,
header, section, article, nav, footer {
  margin: 0;
  padding: 0;
}

/*body{padding-top:44px; overflow-x: hidden;}*/
/* line 11, ../sass/layout/_all-init.scss */
body.pb44 {
  padding-bottom: 44px;
}

/* line 12, ../sass/layout/_all-init.scss */
body.pt44 {
  padding-top: 44px;
}

/* line 14, ../sass/layout/_all-init.scss */
body.white_bg {
  background: #fff;
}

/* line 15, ../sass/layout/_all-init.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 16, ../sass/layout/_all-init.scss */
img {
  border: 0 none;
  vertical-align: top;
  outline: none;
  width: 100%;
}

/* line 17, ../sass/layout/_all-init.scss */
ul, li {
  list-style-type: none;
}

/* line 18, ../sass/layout/_all-init.scss */
input, select, button, textarea {
  font-size: 16px;
  font-family: Tahoma, Geneva, sans-serif;
}

/* line 19, ../sass/layout/_all-init.scss */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* line 23, ../sass/layout/_all-init.scss */
header, section, article, nav, footer {
  display: block;
}

/* line 24, ../sass/layout/_all-init.scss */
button {
  cursor: pointer;
}

/* line 25, ../sass/layout/_all-init.scss */
input:focus {
  outline: none;
}

/* line 26, ../sass/layout/_all-init.scss */
a {
  color: #666;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

/* line 27, ../sass/layout/_all-init.scss */
a:hover {
  text-decoration: none;
  color: #d70b30;
}

/* line 28, ../sass/layout/_all-init.scss */
a:focus {
  outline: none;
}

/* line 29, ../sass/layout/_all-init.scss */
.orange {
  color: #ff5500;
}

/* line 30, ../sass/layout/_all-init.scss */
.blue {
  color: #00aaee;
}

/* line 31, ../sass/layout/_all-init.scss */
.gary {
  color: #999;
}

/* input, */
/* line 32, ../sass/layout/_all-init.scss */
textarea {
  appearance: none;
  -webkit-appearance: none;
}

/* line 34, ../sass/layout/_all-init.scss */
.disabled,
a.disabled {
  width: 100%;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: #e4e4e4;
  color: #d2d2d2;
  font-size: 18px;
  display: inline-block;
  border: none;
  cursor: default;
}

/* hide xunlei plugin assist in chrome */
/* line 38, ../sass/layout/_all-init.scss */
embed[id^="xunlei_com_thunder_helper_plugin_"] {
  display: none;
}

/* input{ appearance: none;-moz-animation: none; -webkit-appearance: none} */
/* line 40, ../sass/layout/_all-init.scss */
.clear {
  diplay: block;
  float: none;
  clear: both;
  overflow: hidden;
  width: auto;
  height: 0;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

/* line 41, ../sass/layout/_all-init.scss */
.fl {
  float: left;
}

/* line 42, ../sass/layout/_all-init.scss */
.fr {
  float: right;
}

/* line 43, ../sass/layout/_all-init.scss */
.fr_1 {
  float: right;
}

/* line 45, ../sass/layout/_all-init.scss */
.hide {
  display: none;
}

/* line 46, ../sass/layout/_all-init.scss */
.show {
  display: block;
}

/* line 48, ../sass/layout/_all-init.scss */
a.btn-blue,
a.btn-orange {
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: #00aaee;
  color: #fff;
  font-size: 18px;
  display: block;
}

/* line 50, ../sass/layout/_all-init.scss */
a.btn-orange {
  background: #f69f07;
}

/* line 51, ../sass/layout/_all-init.scss */
.transtion {
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
}

/*全局公用样式 end*/
/* line 1, ../sass/components/_header.scss */
header {
  line-height: 44px;
  background-color: #2792e4;
  text-align: center;
  color: #fff;
  font-size: 18px;
  width: 100%;
  font-family: medium;
}

/* line 10, ../sass/components/_header.scss */
.icons-fanhui {
  display: inline-block;
  width: 24px;
  height: 24px;
  float: left;
  margin-left: 10px;
  line-height: 24px;
  text-align: center;
  margin-top: 12px;
  background-image: url("../images/fanhui.png");
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

/* line 8, ../sass/layout/_instalments-root.scss */
.module-title, .input-erro {
  padding: 10px 15px 5px 15px;
}

/* line 11, ../sass/layout/_instalments-root.scss */
.float-r {
  float: right;
  display: inline-block;
}

/* line 16, ../sass/layout/_instalments-root.scss */
.prompt {
  color: #999;
}

/* line 20, ../sass/layout/_instalments-root.scss */
#instalments-box,
#personal-box {
  background-color: #fff;
}
/* line 23, ../sass/layout/_instalments-root.scss */
#instalments-box > div, #instalments-box label,
#personal-box > div,
#personal-box label {
  position: relative;
}
/* line 25, ../sass/layout/_instalments-root.scss */
#instalments-box > div:after, #instalments-box label:after,
#personal-box > div:after,
#personal-box label:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #d7d7d7;
  color: #d7d7d7;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}
/* line 29, ../sass/layout/_instalments-root.scss */
#instalments-box > div.margin_rl10, #instalments-box label.margin_rl10,
#personal-box > div.margin_rl10,
#personal-box label.margin_rl10 {
  margin: 0px 10px;
}
/* line 32, ../sass/layout/_instalments-root.scss */
#instalments-box > div:not(.margin_rl10), #instalments-box label:not(.margin_rl10),
#personal-box > div:not(.margin_rl10),
#personal-box label:not(.margin_rl10) {
  padding: 0px 10px;
}

/* line 38, ../sass/layout/_instalments-root.scss */
#instalments-box .explain {
  font-size: 12px;
  margin-left: 5px;
}
/* line 42, ../sass/layout/_instalments-root.scss */
#instalments-box input {
  text-align: right;
}
/* line 45, ../sass/layout/_instalments-root.scss */
#instalments-box #user-name,
#instalments-box #user-id {
  width: 100%;
}

/* line 53, ../sass/layout/_instalments-root.scss */
#personal-box #verify-code {
  width: 100%;
}
/* line 56, ../sass/layout/_instalments-root.scss */
#personal-box .verifyBtn {
  height: 30px;
  width: 110px;
  border-width: 0px;
  display: inline-block;
  text-align: center;
  color: #2792e4;
  font-size: 15px;
  background: #fff;
  position: relative;
}
/* line 25, ../sass/mixins/_border-forge.scss */
#personal-box .verifyBtn:after {
  position: absolute;
  content: '';
  width: 220px;
  height: 58px;
  border: 1px solid #2792e4;
  -moz-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
}
/* line 66, ../sass/layout/_instalments-root.scss */
#personal-box .verifyBtn:after {
  left: -57px;
  top: -8px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 72, ../sass/layout/_instalments-root.scss */
#personal-box a.disabled {
  color: #d2d2d2;
  background: fff;
}
/* line 75, ../sass/layout/_instalments-root.scss */
#personal-box a.disabled:after {
  border-color: #ccc;
}
/* line 79, ../sass/layout/_instalments-root.scss */
#personal-box #creditCard {
  width: 100%;
}

/* line 84, ../sass/layout/_instalments-root.scss */
#applyNum-box {
  width: 80%;
  text-align: right;
}
/* line 87, ../sass/layout/_instalments-root.scss */
#applyNum-box #applyInstalmentNum {
  width: 80%;
}

/* line 94, ../sass/layout/_instalments-root.scss */
#stageNumberBox > span {
  display: inline-block;
  width: 78px;
  height: 33px;
  margin: 4px 0px 0px 7px;
  padding-left: 10px;
  line-height: 33px;
}
/* line 102, ../sass/layout/_instalments-root.scss */
#stageNumberBox > span.checked {
  background-image: url("../images/kuang_icon.png");
  background-repeat: no-repeat;
  background-size: 88px 33px;
}
/* line 107, ../sass/layout/_instalments-root.scss */
#stageNumberBox > span:not(.checked) {
  position: relative;
}
/* line 25, ../sass/mixins/_border-forge.scss */
#stageNumberBox > span:not(.checked):after {
  position: absolute;
  content: '';
  width: 176px;
  height: 68px;
  border: 1px solid #d7d7d7;
  -moz-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
}
/* line 111, ../sass/layout/_instalments-root.scss */
#stageNumberBox > span:not(.checked):after {
  height: 65px;
  left: -45px;
  top: -17px;
}

/* line 119, ../sass/layout/_instalments-root.scss */
.info-box {
  line-height: 44px;
}
/* line 121, ../sass/layout/_instalments-root.scss */
.info-box > div {
  display: inline-block;
}

/* line 126, ../sass/layout/_instalments-root.scss */
.module-title, .input-erro {
  font-size: 17px;
  line-height: 34px;
  background-color: #f6f6f9;
  color: #666;
}

/* line 133, ../sass/layout/_instalments-root.scss */
.input-erro {
  color: red;
  font-size: 15px;
}

/* line 139, ../sass/layout/_instalments-root.scss */
#repayment-num {
  width: 100px;
}

/* line 5, ../sass/components/_btn_disabled.scss */
.btn_disabled {
  color: #fff;
  background-color: #ccc;
}
/* line 8, ../sass/components/_btn_disabled.scss */
.btn_disabled.btn_default {
  color: #fff;
}

/* line 4, ../../skinSass/sass/componets/button/button.scss */
.btn.btn_mini {
  line-height: 1.9;
  font-size: 14px;
  padding: 0 .75em;
  display: inline-block;
}

/* line 13, ../../skinSass/sass/componets/button/button.scss */
button.btn, input.btn {
  width: 100%;
  border-width: 0;
  outline: 0;
  -webkit-appearance: none;
}
/* line 18, ../../skinSass/sass/componets/button/button.scss */
button.btn:focus, input.btn:focus {
  outline: 0;
}
/* line 22, ../../skinSass/sass/componets/button/button.scss */
button.btn_inline, button.btn_mini, input.btn_inline, input.btn_mini {
  width: auto;
}

/*gap between btn*/
/* line 28, ../../skinSass/sass/componets/button/button.scss */
.btn + .btn {
  margin-top: 15px;
}

/* line 32, ../../skinSass/sass/componets/button/button.scss */
.btn.btn_inline + .btn.btn_inline {
  margin-top: auto;
  margin-left: 15px;
}

/* line 37, ../../skinSass/sass/componets/button/button.scss */
.btn_area {
  margin: 1.17647em 15px 0.3em;
}
/* line 39, ../../skinSass/sass/componets/button/button.scss */
.btn_area.btn_area_inline {
  display: flex;
}
/* line 41, ../../skinSass/sass/componets/button/button.scss */
.btn_area.btn_area_inline .btn {
  margin-top: auto;
  margin-right: 15px;
  width: 100%;
  flex: 1;
}
/* line 46, ../../skinSass/sass/componets/button/button.scss */
.btn_area.btn_area_inline .btn:last-child {
  margin-right: 0;
}

/* line 3, ../../skinSass/sass/componets/button/btn_global.scss */
.btn {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 2.55556;
  border-radius: 5px;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}
/* line 19, ../../skinSass/sass/componets/button/btn_global.scss */
.btn:after {
  content: " ";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transform: scale(0.5);
  transform-origin: 0 0;
  box-sizing: border-box;
  border-radius: 10px;
}
/* line 33, ../../skinSass/sass/componets/button/btn_global.scss */
.btn.btn_inline {
  display: inline-block;
}

/* line 3, ../../skinSass/sass/componets/button/btn_default.scss */
.btn_default {
  background-color: #F7F7F7;
  color: #FFFFFF;
}
/* line 6, ../../skinSass/sass/componets/button/btn_default.scss */
.btn_default:not(.btn_disabled):visited {
  color: #FFFFFF;
}
/* line 9, ../../skinSass/sass/componets/button/btn_default.scss */
.btn_default:not(.btn_disabled):active {
  color: #A1A1A1;
  background-color: #DEDEDE;
}

/* line 3, ../../skinSass/sass/componets/button/btn_primary.scss */
.btn_primary {
  background-color: #2793e4;
}
/* line 5, ../../skinSass/sass/componets/button/btn_primary.scss */
.btn_primary:not(.btn_disabled):visited {
  color: #FFFFFF;
}
/* line 8, ../../skinSass/sass/componets/button/btn_primary.scss */
.btn_primary:not(.btn_disabled):active {
  color: rgba(255, 255, 255, 0.4);
  background-color: #2383cc;
}

/* line 3, ../../skinSass/sass/componets/button/btn_warn.scss */
.btn_warn {
  background-color: #ef4f4f;
}
/* line 5, ../../skinSass/sass/componets/button/btn_warn.scss */
.btn_warn:not(.btn_disabled):visited {
  color: #FFFFFF;
}
/* line 8, ../../skinSass/sass/componets/button/btn_warn.scss */
.btn_warn:not(.btn_disabled):active {
  color: rgba(255, 255, 255, 0.4);
  background-color: #c13e3e;
}

/* line 3, ../../skinSass/sass/componets/button/btn_disabled.scss */
.btn_disabled {
  color: rgba(255, 255, 255, 0.6);
  background-color: #CCCCCC;
}
/* line 6, ../../skinSass/sass/componets/button/btn_disabled.scss */
.btn_disabled.btn_default {
  color: #FFFFFF;
}

/* line 3, ../../skinSass/sass/componets/button/btn_plain.scss */
.btn_plain_primary {
  color: #2793e4;
  border: 1px solid #2793e4;
}
/* line 6, ../../skinSass/sass/componets/button/btn_plain.scss */
.btn_plain_primary:active {
  border-color: #2383cc;
}
/* line 9, ../../skinSass/sass/componets/button/btn_plain.scss */
.btn_plain_primary:after {
  border-width: 0;
}

/* line 14, ../../skinSass/sass/componets/button/btn_plain.scss */
button.btn_plain_primary, input.btn_plain_primary {
  border-width: 1px;
  background-color: transparent;
}

/* line 19, ../../skinSass/sass/componets/button/btn_plain.scss */
.btn_plain_default {
  color: #5A5A5A;
  border: 1px solid #5A5A5A;
}
/* line 22, ../../skinSass/sass/componets/button/btn_plain.scss */
.btn_plain_default:after {
  border-width: 0;
}

/* line 27, ../../skinSass/sass/componets/button/btn_plain.scss */
button.btn_plain_default, input.btn_plain_default {
  border-width: 1px;
  background-color: transparent;
}

/* line 4, ../sass/layout/_instalments-footer.scss */
#footer {
  padding: 0px 15px 10px 15px;
}
/* line 6, ../sass/layout/_instalments-footer.scss */
#footer > div {
  margin-top: 20px;
}
/* line 9, ../sass/layout/_instalments-footer.scss */
#footer #checkButton {
  display: inline-block;
}
/* line 11, ../sass/layout/_instalments-footer.scss */
#footer #checkButton > label {
  font-szie: 13px;
  font-size: 13px;
  color: #A5A1A1;
}
/* line 16, ../sass/layout/_instalments-footer.scss */
#footer #checkButton input[type="checkbox"] {
  display: none;
}
/* line 21, ../sass/layout/_instalments-footer.scss */
#footer > div:last-child #submitA {
  font-size: 18px;
  line-height: 46px;
}
/* line 26, ../sass/layout/_instalments-footer.scss */
#footer input {
  height: 0px;
}
/* line 29, ../sass/layout/_instalments-footer.scss */
#footer #agreement-box > a {
  color: #2792e4;
  font-size: 13px;
}
/* line 33, ../sass/layout/_instalments-footer.scss */
#footer .icheckbox-blue {
  display: inline-block;
  vertical-align: bottom;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: url(../images/blue@2x.png) no-repeat;
  background-size: 70px 24px;
  border: none;
  cursor: pointer;
  -moz-transform: scale(0.82);
  -webkit-transform: scale(0.82);
  -o-transform: scale(0.82);
}
/* line 48, ../sass/layout/_instalments-footer.scss */
#footer .icheckbox-blue.checked {
  background-position: -48px 0;
}
/* line 51, ../sass/layout/_instalments-footer.scss */
#footer .btn:after {
  border: 0px solid rgba(0, 0, 0, 0.2);
}

/* line 4, ../sass/layout/_modals-mobile.scss */
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

/* line 17, ../sass/layout/_modals-mobile.scss */
.back {
  background-color: #666;
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

/* line 27, ../sass/layout/_modals-mobile.scss */
.modal-dialog {
  max-width: 85%;
  min-width: 85%;
  margin: 30px auto;
  margin-top: 45%;
  position: relative;
  padding: 0px;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
}

/* line 37, ../sass/layout/_modals-mobile.scss */
.modal-content {
  background-color: #fff;
  border-radius: 6px;
  outline: 0;
  text-align: center;
}

/* line 46, ../sass/layout/_modals-mobile.scss */
.modal-header > h4 {
  margin: 0px;
  padding: 10px 0px;
}
/* line 50, ../sass/layout/_modals-mobile.scss */
.modal-header .close_div {
  position: absolute;
  top: 0px;
  padding-top: 15px;
  right: 5px;
  display: inline-block;
  width: 40px;
  height: 40px;
}
/* line 58, ../sass/layout/_modals-mobile.scss */
.modal-header .close_div img {
  width: 16px;
}

/* line 64, ../sass/layout/_modals-mobile.scss */
.modal-footer {
  position: relative;
}
/* line 6, ../sass/mixins/_border-forge.scss */
.modal-footer:before {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  top: -1px;
  border-top: 1px solid #d7d7d7;
}

/* line 68, ../sass/layout/_modals-mobile.scss */
.modal-body {
  padding: 2px 0px 10px 0px;
  padding-top: 2px;
}

/* line 73, ../sass/layout/_modals-mobile.scss */
.modal-body P {
  line-height: 20px;
}

/* line 77, ../sass/layout/_modals-mobile.scss */
.modal-footer {
  line-height: 48px;
}
/* line 79, ../sass/layout/_modals-mobile.scss */
.modal-footer a {
  color: #2792e4;
  font-size: 18px;
}

/* line 85, ../sass/layout/_modals-mobile.scss */
.modal-footer > button {
  background-color: #fff;
  color: #00aaee;
  border-width: 0px;
  width: 100%;
  line-height: 36px;
}

/* line 3, ../sass/layout/_applyNextStep.scss */
#userId-box, #userNam-box {
  width: 70%;
}
/* line 5, ../sass/layout/_applyNextStep.scss */
#userId-box input, #userNam-box input {
  font-size: 14px;
}

/* line 10, ../sass/layout/_applyNextStep.scss */
#cvn2Num-box {
  width: 56%;
}
/* line 12, ../sass/layout/_applyNextStep.scss */
#cvn2Num-box input {
  font-size: 14px;
}

/* line 16, ../sass/layout/_applyNextStep.scss */
#timeNum-box {
  width: 63%;
}
/* line 18, ../sass/layout/_applyNextStep.scss */
#timeNum-box input {
  font-size: 14px;
}

/* line 27, ../sass/layout/_applyNextStep.scss */
#creditCard-box > input,
#cvn2Num-box > input,
#timeNum-box > input {
  width: 100%;
}

/* line 32, ../sass/layout/_applyNextStep.scss */
#cvn2Num-box {
  padding-right: 40px;
}

/* line 36, ../sass/layout/_applyNextStep.scss */
.yanjing_icon {
  background-image: url("../images/yanjing_icon.png");
  background-size: 23px 14px;
  background-repeat: no-repeat;
  background-position: 0px 5px;
  width: 33px;
  height: 24px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 0px;
}

/* line 49, ../sass/layout/_applyNextStep.scss */
.modal-content2 {
  width: 200px;
  background-color: #000;
  opacity: 0.8;
  color: #fff;
  text-align: center;
  margin: auto;
  padding: 20px;
  font-size: 17px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
/* line 59, ../sass/layout/_applyNextStep.scss */
.modal-content2 p {
  padding: 5px 0px;
}
/* line 62, ../sass/layout/_applyNextStep.scss */
.modal-content2 p.small {
  font-size: 12px;
}

/* line 9, ../sass/applyInstalment.scss */
html,
body {
  height: 100%;
}

/* line 14, ../sass/applyInstalment.scss */
body {
  color: #222;
  font-size: 16px;
}

/* line 19, ../sass/applyInstalment.scss */
input {
  border-width: 0px;
}

/* line 23, ../sass/applyInstalment.scss */
#billText {
  margin-left: -24px;
}

/*# sourceMappingURL=applyInstalment.css.map */
