/* line 3, ../../skinSass/sass/base/reset.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 8, ../../skinSass/sass/base/reset.scss */
body {
  line-height: 1.6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 13, ../../skinSass/sass/base/reset.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 18, ../../skinSass/sass/base/reset.scss */
a img {
  border: 0;
}

/* line 22, ../../skinSass/sass/base/reset.scss */
a {
  text-decoration: none;
}

/* line 1, ../sass/components/_header.scss */
header {
  line-height: 44px;
  background-color: #2792e4;
  text-align: center;
  color: #fff;
  font-size: 18px;
  width: 100%;
  font-family: medium;
}

/* line 10, ../sass/components/_header.scss */
.icons-fanhui {
  display: inline-block;
  width: 24px;
  height: 24px;
  float: left;
  margin-left: 10px;
  line-height: 24px;
  text-align: center;
  margin-top: 12px;
  background-image: url("../images/fanhui.png");
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

/* line 3, ../../skinSass/sass/componets/cell/cell_global.scss */
.cell {
  position: relative;
}
/* line 6, ../../skinSass/sass/componets/cell/cell_global.scss */
.cell:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #D9D9D9;
  color: #D9D9D9;
  transform-origin: 0 0;
  transform: scaleY(0.5);
  left: 15px;
}
/* line 11, ../../skinSass/sass/componets/cell/cell_global.scss */
.cell:first-child:before {
  display: none;
}

/* line 16, ../../skinSass/sass/componets/cell/cell_global.scss */
.cells {
  margin-top: 1.17647em;
  background-color: #FFFFFF;
  line-height: 1.41176;
  font-size: 17px;
  overflow: hidden;
  position: relative;
}
/* line 27, ../../skinSass/sass/componets/cell/cell_global.scss */
.cells:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #D9D9D9;
  color: #D9D9D9;
  transform-origin: 0 0;
  transform: scaleY(0.5);
}
/* line 30, ../../skinSass/sass/componets/cell/cell_global.scss */
.cells:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #D9D9D9;
  color: #D9D9D9;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}

/* line 35, ../../skinSass/sass/componets/cell/cell_global.scss */
.cells_title {
  margin-top: .77em;
  padding-left: 15px;
  padding-right: 15px;
  color: #888;
  font-size: 14px;
}
/* line 42, ../../skinSass/sass/componets/cell/cell_global.scss */
.cells_title + .cells {
  margin-top: 0;
}

/* line 47, ../../skinSass/sass/componets/cell/cell_global.scss */
.cells_tips {
  margin-top: .3em;
  color: #888;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
}

/* line 55, ../../skinSass/sass/componets/cell/cell_global.scss */
.cell {
  padding: 10px 15px;
  position: relative;
  display: flex;
  align-items: center;
}

/* line 62, ../../skinSass/sass/componets/cell/cell_global.scss */
.cell_ft {
  text-align: right;
  color: #888;
}

/* line 67, ../../skinSass/sass/componets/cell/cell_global.scss */
.cell_primary {
  flex: 1;
}

/* line 3, ../../skinSass/sass/componets/cell/form/form_common.scss */
.label {
  display: block;
  width: 3em;
}

/* line 7, ../../skinSass/sass/componets/cell/form/form_common.scss */
.input {
  width: 100%;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  height: 1.41176em;
  line-height: 1.41176;
}
/* line 19, ../../skinSass/sass/componets/cell/form/form_common.scss */
.input::-webkit-outer-spin-button, .input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 24, ../../skinSass/sass/componets/cell/form/form_common.scss */
.textarea {
  display: block;
  border: 0;
  resize: none;
  width: 100%;
  color: inherit;
  font-size: 1em;
  line-height: inherit;
  outline: 0;
}

/* line 35, ../../skinSass/sass/componets/cell/form/form_common.scss */
.textarea_counter {
  color: #B2B2B2;
  text-align: right;
}
/* line 38, ../../skinSass/sass/componets/cell/form/form_common.scss */
.cell_warn .textarea_counter {
  color: #E64340;
}

/* line 43, ../../skinSass/sass/componets/cell/form/form_common.scss */
.toptips {
  display: none;
  position: fixed;
  transform: translateZ(0);
  width: 100%;
  top: 0;
  line-height: 2.3;
  font-size: 14px;
  text-align: center;
  color: #FFF;
  z-index: 2;
}
/* line 54, ../../skinSass/sass/componets/cell/form/form_common.scss */
.toptips.warn {
  background-color: #E64340;
}

/* line 59, ../../skinSass/sass/componets/cell/form/form_common.scss */
.cells_form .cell_warn {
  color: #E64340;
}
/* line 61, ../../skinSass/sass/componets/cell/form/form_common.scss */
.cells_form .cell_warn .icon_warn {
  display: inline-block;
}
/* line 65, ../../skinSass/sass/componets/cell/form/form_common.scss */
.cells_form .cell_hd {
  padding-right: 1em;
}
/* line 68, ../../skinSass/sass/componets/cell/form/form_common.scss */
.cells_form .cell_ft {
  font-size: 0;
}
/* line 71, ../../skinSass/sass/componets/cell/form/form_common.scss */
.cells_form .icon_warn {
  display: none;
}
/* line 74, ../../skinSass/sass/componets/cell/form/form_common.scss */
.cells_form input, .cells_form textarea, .cells_form label[for] {
  -webkit-tap-highlight-color: transparent;
}

/* line 4, ../../skinSass/sass/componets/button/button.scss */
.btn.btn_mini {
  line-height: 1.9;
  font-size: 14px;
  padding: 0 .75em;
  display: inline-block;
}

/* line 13, ../../skinSass/sass/componets/button/button.scss */
button.btn, input.btn {
  width: 100%;
  border-width: 0;
  outline: 0;
  -webkit-appearance: none;
}
/* line 18, ../../skinSass/sass/componets/button/button.scss */
button.btn:focus, input.btn:focus {
  outline: 0;
}
/* line 22, ../../skinSass/sass/componets/button/button.scss */
button.btn_inline, button.btn_mini, input.btn_inline, input.btn_mini {
  width: auto;
}

/*gap between btn*/
/* line 28, ../../skinSass/sass/componets/button/button.scss */
.btn + .btn {
  margin-top: 15px;
}

/* line 32, ../../skinSass/sass/componets/button/button.scss */
.btn.btn_inline + .btn.btn_inline {
  margin-top: auto;
  margin-left: 15px;
}

/* line 37, ../../skinSass/sass/componets/button/button.scss */
.btn_area {
  margin: 1.17647em 15px 0.3em;
}
/* line 39, ../../skinSass/sass/componets/button/button.scss */
.btn_area.btn_area_inline {
  display: flex;
}
/* line 41, ../../skinSass/sass/componets/button/button.scss */
.btn_area.btn_area_inline .btn {
  margin-top: auto;
  margin-right: 15px;
  width: 100%;
  flex: 1;
}
/* line 46, ../../skinSass/sass/componets/button/button.scss */
.btn_area.btn_area_inline .btn:last-child {
  margin-right: 0;
}

/* line 3, ../../skinSass/sass/componets/button/btn_global.scss */
.btn {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 2.55556;
  border-radius: 5px;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}
/* line 19, ../../skinSass/sass/componets/button/btn_global.scss */
.btn:after {
  content: " ";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transform: scale(0.5);
  transform-origin: 0 0;
  box-sizing: border-box;
  border-radius: 10px;
}
/* line 33, ../../skinSass/sass/componets/button/btn_global.scss */
.btn.btn_inline {
  display: inline-block;
}

/* line 3, ../../skinSass/sass/componets/button/btn_default.scss */
.btn_default {
  background-color: #F7F7F7;
  color: #FFFFFF;
}
/* line 6, ../../skinSass/sass/componets/button/btn_default.scss */
.btn_default:not(.btn_disabled):visited {
  color: #FFFFFF;
}
/* line 9, ../../skinSass/sass/componets/button/btn_default.scss */
.btn_default:not(.btn_disabled):active {
  color: #A1A1A1;
  background-color: #DEDEDE;
}

/* line 3, ../../skinSass/sass/componets/button/btn_primary.scss */
.btn_primary {
  background-color: #2793e4;
}
/* line 5, ../../skinSass/sass/componets/button/btn_primary.scss */
.btn_primary:not(.btn_disabled):visited {
  color: #FFFFFF;
}
/* line 8, ../../skinSass/sass/componets/button/btn_primary.scss */
.btn_primary:not(.btn_disabled):active {
  color: rgba(255, 255, 255, 0.4);
  background-color: #2383cc;
}

/* line 3, ../../skinSass/sass/componets/button/btn_warn.scss */
.btn_warn {
  background-color: #ef4f4f;
}
/* line 5, ../../skinSass/sass/componets/button/btn_warn.scss */
.btn_warn:not(.btn_disabled):visited {
  color: #FFFFFF;
}
/* line 8, ../../skinSass/sass/componets/button/btn_warn.scss */
.btn_warn:not(.btn_disabled):active {
  color: rgba(255, 255, 255, 0.4);
  background-color: #c13e3e;
}

/* line 3, ../../skinSass/sass/componets/button/btn_disabled.scss */
.btn_disabled {
  color: rgba(255, 255, 255, 0.6);
  background-color: #CCCCCC;
}
/* line 6, ../../skinSass/sass/componets/button/btn_disabled.scss */
.btn_disabled.btn_default {
  color: #FFFFFF;
}

/* line 3, ../../skinSass/sass/componets/button/btn_plain.scss */
.btn_plain_primary {
  color: #2793e4;
  border: 1px solid #2793e4;
}
/* line 6, ../../skinSass/sass/componets/button/btn_plain.scss */
.btn_plain_primary:active {
  border-color: #2383cc;
}
/* line 9, ../../skinSass/sass/componets/button/btn_plain.scss */
.btn_plain_primary:after {
  border-width: 0;
}

/* line 14, ../../skinSass/sass/componets/button/btn_plain.scss */
button.btn_plain_primary, input.btn_plain_primary {
  border-width: 1px;
  background-color: transparent;
}

/* line 19, ../../skinSass/sass/componets/button/btn_plain.scss */
.btn_plain_default {
  color: #5A5A5A;
  border: 1px solid #5A5A5A;
}
/* line 22, ../../skinSass/sass/componets/button/btn_plain.scss */
.btn_plain_default:after {
  border-width: 0;
}

/* line 27, ../../skinSass/sass/componets/button/btn_plain.scss */
button.btn_plain_default, input.btn_plain_default {
  border-width: 1px;
  background-color: transparent;
}

/* line 6, ../sass/layout/_instalments1-root.scss */
.cells {
  margin-top: 0em;
}

/* line 10, ../sass/layout/_instalments1-root.scss */
.module-title {
  padding: 10px 10px 5px 10px;
}

/* line 13, ../sass/layout/_instalments1-root.scss */
.input {
  color: #222;
}

/* line 16, ../sass/layout/_instalments1-root.scss */
#applyInstalmentNum {
  width: 88%;
  text-align: right;
}

/* line 21, ../sass/layout/_instalments1-root.scss */
.f2 {
  flex: 2;
}

/* line 25, ../sass/layout/_instalments1-root.scss */
.tishi {
  color: red;
  display: none;
}

/* line 30, ../sass/layout/_instalments1-root.scss */
.tar {
  text-align: right;
  font-size: 14px;
}

/* line 36, ../sass/layout/_instalments1-root.scss */
#stageNumberBox > span {
  display: inline-block;
  width: 86px;
  height: 33px;
  margin: 4px 0px 0px 7px;
  padding-left: 2px;
  line-height: 33px;
  text-align: center;
  font-size: 16px;
}
/* line 46, ../sass/layout/_instalments1-root.scss */
#stageNumberBox > span.checked {
  background-image: url("../images/kuang_icon.png");
  background-repeat: no-repeat;
  background-size: 88px 33px;
  color: #222;
}
/* line 52, ../sass/layout/_instalments1-root.scss */
#stageNumberBox > span:not(.checked) {
  position: relative;
}
/* line 25, ../sass/mixins/_border-forge.scss */
#stageNumberBox > span:not(.checked):after {
  position: absolute;
  content: '';
  width: 176px;
  height: 68px;
  border: 1px solid #d7d7d7;
  -moz-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
}
/* line 56, ../sass/layout/_instalments1-root.scss */
#stageNumberBox > span:not(.checked):after {
  height: 65px;
  left: -45px;
  top: -17px;
}

/* line 64, ../sass/layout/_instalments1-root.scss */
.cell_prompt {
  width: 100%;
  color: #999999;
}

/* line 69, ../sass/layout/_instalments1-root.scss */
.bgb {
  background-color: #1CB2ED;
  margin-bottom: -1px;
  color: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* line 76, ../sass/layout/_instalments1-root.scss */
.pt {
  padding-bottom: 8px;
}

/* line 80, ../sass/layout/_instalments1-root.scss */
.bt0:before {
  border-width: 0px;
}

/* line 83, ../sass/layout/_instalments1-root.scss */
.fs14 {
  font-size: 14px;
  line-height: 15px;
}

/* line 87, ../sass/layout/_instalments1-root.scss */
.lh25_m15 {
  line-height: 2.5em;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

/* line 93, ../sass/layout/_instalments1-root.scss */
.lh20_m12 {
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 99, ../sass/layout/_instalments1-root.scss */
.cell_fl {
  flex: 1;
}

/* line 103, ../sass/layout/_instalments1-root.scss */
.ts12 {
  font-size: 16px;
}

/* line 107, ../sass/layout/_instalments1-root.scss */
#countMoney {
  font-size: 20px;
  text-align: right;
}

/* line 112, ../sass/layout/_instalments1-root.scss */
#eachMoney {
  font-size: 2em;
  text-align: right;
}

/* line 117, ../sass/layout/_instalments1-root.scss */
.plem {
  text-align: right;
}

/* line 121, ../sass/layout/_instalments1-root.scss */
.cells_title.bgb {
  margin-top: 0;
  padding-top: 15px;
  padding-bottom: 7px;
  font-size: 16px;
}

/* line 128, ../sass/layout/_instalments1-root.scss */
.cell_f6 {
  flex: 6;
}

/* line 132, ../sass/layout/_instalments1-root.scss */
.cell_f2 {
  flex: 1.6;
}

/* line 135, ../sass/layout/_instalments1-root.scss */
.cell_f3 {
  flex: 3;
}

/* line 139, ../sass/layout/_instalments1-root.scss */
.tc {
  text-align: center;
}

/* line 143, ../sass/layout/_instalments1-root.scss */
.cell_f4 {
  flex: 3.5;
}

/* line 5, ../sass/components/_btn_disabled.scss */
.btn_disabled {
  color: #fff;
  background-color: #ccc;
}
/* line 8, ../sass/components/_btn_disabled.scss */
.btn_disabled.btn_default {
  color: #fff;
}

/* line 4, ../sass/layout/_instalments-footer.scss */
#footer {
  padding: 0px 15px 10px 15px;
}
/* line 6, ../sass/layout/_instalments-footer.scss */
#footer > div {
  margin-top: 20px;
}
/* line 9, ../sass/layout/_instalments-footer.scss */
#footer #checkButton {
  display: inline-block;
}
/* line 11, ../sass/layout/_instalments-footer.scss */
#footer #checkButton > label {
  font-szie: 13px;
  font-size: 13px;
  color: #A5A1A1;
}
/* line 16, ../sass/layout/_instalments-footer.scss */
#footer #checkButton input[type="checkbox"] {
  display: none;
}
/* line 21, ../sass/layout/_instalments-footer.scss */
#footer > div:last-child #submitA {
  font-size: 18px;
  line-height: 46px;
}
/* line 26, ../sass/layout/_instalments-footer.scss */
#footer input {
  height: 0px;
}
/* line 29, ../sass/layout/_instalments-footer.scss */
#footer #agreement-box > a {
  color: #2792e4;
  font-size: 13px;
}
/* line 33, ../sass/layout/_instalments-footer.scss */
#footer .icheckbox-blue {
  display: inline-block;
  vertical-align: bottom;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: url(../images/blue@2x.png) no-repeat;
  background-size: 70px 24px;
  border: none;
  cursor: pointer;
  -moz-transform: scale(0.82);
  -webkit-transform: scale(0.82);
  -o-transform: scale(0.82);
}
/* line 48, ../sass/layout/_instalments-footer.scss */
#footer .icheckbox-blue.checked {
  background-position: -48px 0;
}
/* line 51, ../sass/layout/_instalments-footer.scss */
#footer .btn:after {
  border: 0px solid rgba(0, 0, 0, 0.2);
}

/* line 4, ../sass/layout/_modals-mobile.scss */
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

/* line 17, ../sass/layout/_modals-mobile.scss */
.back {
  background-color: #666;
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

/* line 27, ../sass/layout/_modals-mobile.scss */
.modal-dialog {
  max-width: 85%;
  min-width: 85%;
  margin: 30px auto;
  margin-top: 45%;
  position: relative;
  padding: 0px;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
}

/* line 37, ../sass/layout/_modals-mobile.scss */
.modal-content {
  background-color: #fff;
  border-radius: 6px;
  outline: 0;
  text-align: center;
}

/* line 46, ../sass/layout/_modals-mobile.scss */
.modal-header > h4 {
  margin: 0px;
  padding: 10px 0px;
}
/* line 50, ../sass/layout/_modals-mobile.scss */
.modal-header .close_div {
  position: absolute;
  top: 0px;
  padding-top: 15px;
  right: 5px;
  display: inline-block;
  width: 40px;
  height: 40px;
}
/* line 58, ../sass/layout/_modals-mobile.scss */
.modal-header .close_div img {
  width: 16px;
}

/* line 64, ../sass/layout/_modals-mobile.scss */
.modal-footer {
  position: relative;
}
/* line 6, ../sass/mixins/_border-forge.scss */
.modal-footer:before {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  top: -1px;
  border-top: 1px solid #d7d7d7;
}

/* line 68, ../sass/layout/_modals-mobile.scss */
.modal-body {
  padding: 2px 0px 10px 0px;
  padding-top: 2px;
}

/* line 73, ../sass/layout/_modals-mobile.scss */
.modal-body P {
  line-height: 20px;
}

/* line 77, ../sass/layout/_modals-mobile.scss */
.modal-footer {
  line-height: 48px;
}
/* line 79, ../sass/layout/_modals-mobile.scss */
.modal-footer a {
  color: #2792e4;
  font-size: 18px;
}

/* line 85, ../sass/layout/_modals-mobile.scss */
.modal-footer > button {
  background-color: #fff;
  color: #00aaee;
  border-width: 0px;
  width: 100%;
  line-height: 36px;
}

/* line 9, ../sass/applyInstalment1.scss */
.cell:before {
  width: 93%;
}

/*# sourceMappingURL=applyInstalment1.css.map */
