@charset "UTF-8";
/*全局公用样式 start*/
/* line 5, ../sass/layout/_all-init.scss */
body {
  font-family: 'Open Sans',Helvetica,Arial,Sans-serif,SimHei,"Microsoft YaHei";
  font-size: 14px;
  color: #F6F6F9;
  background: #efefef;
}

/* line 8, ../sass/layout/_all-init.scss */
html, body, div, p, ol, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td,
header, section, article, nav, footer {
  margin: 0;
  padding: 0;
}

/*body{padding-top:44px; overflow-x: hidden;}*/
/* line 11, ../sass/layout/_all-init.scss */
body.pb44 {
  padding-bottom: 44px;
}

/* line 12, ../sass/layout/_all-init.scss */
body.pt44 {
  padding-top: 44px;
}

/* line 14, ../sass/layout/_all-init.scss */
body.white_bg {
  background: #fff;
}

/* line 15, ../sass/layout/_all-init.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 16, ../sass/layout/_all-init.scss */
img {
  border: 0 none;
  vertical-align: top;
  outline: none;
  width: 100%;
}

/* line 17, ../sass/layout/_all-init.scss */
ul, li {
  list-style-type: none;
}

/* line 18, ../sass/layout/_all-init.scss */
input, select, button, textarea {
  font-size: 16px;
  font-family: Tahoma, Geneva, sans-serif;
}

/* line 19, ../sass/layout/_all-init.scss */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* line 23, ../sass/layout/_all-init.scss */
header, section, article, nav, footer {
  display: block;
}

/* line 24, ../sass/layout/_all-init.scss */
button {
  cursor: pointer;
}

/* line 25, ../sass/layout/_all-init.scss */
input:focus {
  outline: none;
}

/* line 26, ../sass/layout/_all-init.scss */
a {
  color: #666;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

/* line 27, ../sass/layout/_all-init.scss */
a:hover {
  text-decoration: none;
  color: #d70b30;
}

/* line 28, ../sass/layout/_all-init.scss */
a:focus {
  outline: none;
}

/* line 29, ../sass/layout/_all-init.scss */
.orange {
  color: #ff5500;
}

/* line 30, ../sass/layout/_all-init.scss */
.blue {
  color: #00aaee;
}

/* line 31, ../sass/layout/_all-init.scss */
.gary {
  color: #999;
}

/* input, */
/* line 32, ../sass/layout/_all-init.scss */
textarea {
  appearance: none;
  -webkit-appearance: none;
}

/* line 34, ../sass/layout/_all-init.scss */
.disabled,
a.disabled {
  width: 100%;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: #e4e4e4;
  color: #d2d2d2;
  font-size: 18px;
  display: inline-block;
  border: none;
  cursor: default;
}

/* hide xunlei plugin assist in chrome */
/* line 38, ../sass/layout/_all-init.scss */
embed[id^="xunlei_com_thunder_helper_plugin_"] {
  display: none;
}

/* input{ appearance: none;-moz-animation: none; -webkit-appearance: none} */
/* line 40, ../sass/layout/_all-init.scss */
.clear {
  diplay: block;
  float: none;
  clear: both;
  overflow: hidden;
  width: auto;
  height: 0;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

/* line 41, ../sass/layout/_all-init.scss */
.fl {
  float: left;
}

/* line 42, ../sass/layout/_all-init.scss */
.fr {
  float: right;
}

/* line 43, ../sass/layout/_all-init.scss */
.fr_1 {
  float: right;
}

/* line 45, ../sass/layout/_all-init.scss */
.hide {
  display: none;
}

/* line 46, ../sass/layout/_all-init.scss */
.show {
  display: block;
}

/* line 48, ../sass/layout/_all-init.scss */
a.btn-blue,
a.btn-orange {
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: #00aaee;
  color: #fff;
  font-size: 18px;
  display: block;
}

/* line 50, ../sass/layout/_all-init.scss */
a.btn-orange {
  background: #f69f07;
}

/* line 51, ../sass/layout/_all-init.scss */
.transtion {
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
}

/*全局公用样式 end*/
/* line 1, ../sass/components/_header.scss */
header {
  line-height: 44px;
  background-color: #2792e4;
  text-align: center;
  color: #fff;
  font-size: 18px;
  width: 100%;
  font-family: medium;
}

/* line 10, ../sass/components/_header.scss */
.icons-fanhui {
  display: inline-block;
  width: 24px;
  height: 24px;
  float: left;
  margin-left: 10px;
  line-height: 24px;
  text-align: center;
  margin-top: 12px;
  background-image: url("../images/fanhui.png");
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

/* line 1, ../sass/layout/_contract-root.scss */
#billText {
  margin-left: -24px;
}

/* line 5, ../sass/layout/_contract-root.scss */
#contractBox {
  color: #666666;
  font-size: 13px;
  margin: 0px 10px;
  overflow-y: auto;
}

/* line 12, ../sass/layout/_contract-root.scss */
#wrapper {
  position: absolute;
  z-index: 1;
  top: 45px;
  overflow: auto;
}

/* line 19, ../sass/layout/_contract-root.scss */
.title {
  text-align: center;
  font-size: 15px;
  color: #222;
  font-family: Normal;
  margin: 15px 0px;
  font-weight: 600;
}

/* line 29, ../sass/layout/_contract-root.scss */
#contract-info > div {
  margin: 10px 0;
}
/* line 32, ../sass/layout/_contract-root.scss */
#contract-info .underline {
  /*      text-decoration: underline; */
  border-bottom: 1px solid #222;
  padding-right: 20px;
  padding-left: 10px;
  display: inline-block;
}
/* line 39, ../sass/layout/_contract-root.scss */
#contract-info .pl20 {
  padding-left: 20px;
}
/* line 42, ../sass/layout/_contract-root.scss */
#contract-info .strong {
  color: #222;
  font-weight: 600;
}
/* line 46, ../sass/layout/_contract-root.scss */
#contract-info #user_phone, #contract-info #user_no {
  width: 120px;
}
/* line 49, ../sass/layout/_contract-root.scss */
#contract-info #order_id, #contract-info #tl_mer_name {
  width: 140px;
}
/* line 52, ../sass/layout/_contract-root.scss */
#contract-info #htId {
  width: 160px;
}
/* line 55, ../sass/layout/_contract-root.scss */
#contract-info #user_name {
  width: 90px;
}
/* line 58, ../sass/layout/_contract-root.scss */
#contract-info #ty_name {
  width: 150px;
}
/* line 61, ../sass/layout/_contract-root.scss */
#contract-info #instalmentNum {
  width: 60px;
}
/* line 64, ../sass/layout/_contract-root.scss */
#contract-info #stageNumber {
  width: 30px;
}

/* line 69, ../sass/layout/_contract-root.scss */
#contract-clause {
  line-height: 25px;
}
/* line 71, ../sass/layout/_contract-root.scss */
#contract-clause .list-title {
  margin-top: 13px;
  font-size: 14px;
  color: #222;
}
/* line 76, ../sass/layout/_contract-root.scss */
#contract-clause .clause-content {
  text-indent: 2em;
}
/* line 79, ../sass/layout/_contract-root.scss */
#contract-clause .strong {
  color: #222;
  font-weight: 600;
}

/* line 85, ../sass/layout/_contract-root.scss */
#upImg {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 300px;
  right: 20px;
  z-index: 9;
  display: none;
}

/* line 96, ../sass/layout/_contract-root.scss */
#agreeBox {
  margin: 20px 0px 10px 0px;
  padding-bottom: 20px;
}
/* line 99, ../sass/layout/_contract-root.scss */
#agreeBox .check {
  position: absolute;
  left: -9999em;
}
/* line 103, ../sass/layout/_contract-root.scss */
#agreeBox i.icon_checked {
  width: 20px;
  height: 20px;
  display: inline-block;
}
/* line 108, ../sass/layout/_contract-root.scss */
#agreeBox label {
  display: block;
}
/* line 111, ../sass/layout/_contract-root.scss */
#agreeBox .underline {
  /*      text-decoration: underline; */
  border-bottom: 1px solid #222;
  display: inline-block;
  width: 50px;
  text-align: center;
  height: 19px;
  vertical-align: bottom;
}

/* line 122, ../sass/layout/_contract-root.scss */
.cell_bd,
.cell_hd {
  display: inline-block;
}

/* line 127, ../sass/layout/_contract-root.scss */
.cell_bd {
  vertical-align: super;
}

/* line 132, ../sass/layout/_contract-root.scss */
.icon_checked:before {
  content: " ";
  width: 19px;
  height: 19px;
  background: url(../images/blue@2x.png) no-repeat;
  background-size: 56px 19px;
  display: block;
}

/* line 147, ../sass/layout/_contract-root.scss */
.cells_checkbox .check:checked + .icon_checked:before {
  background-position: -38px 0;
}

/*# sourceMappingURL=contract.css.map */
