/* line 3, ../../../../scss/vendors/weui-sass/src/style/base/reset.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 8, ../../../../scss/vendors/weui-sass/src/style/base/reset.scss */
body {
  line-height: 1.6;
  font-family: -apple-system-font, "Helvetica Neue", sans-serif;
}

/* line 13, ../../../../scss/vendors/weui-sass/src/style/base/reset.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 18, ../../../../scss/vendors/weui-sass/src/style/base/reset.scss */
a img {
  border: 0;
}

/* line 22, ../../../../scss/vendors/weui-sass/src/style/base/reset.scss */
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

/* line 3, ../../../../scss/vendors/weui-sass/src/style/widget/weui-cell/weui-cell_global.scss */
.weui-cell {
  position: relative;
}
/* line 6, ../../../../scss/vendors/weui-sass/src/style/widget/weui-cell/weui-cell_global.scss */
.weui-cell:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #D9D9D9;
  color: #D9D9D9;
  transform-origin: 0 0;
  transform: scaleY(0.5);
  left: 15px;
}
/* line 11, ../../../../scss/vendors/weui-sass/src/style/widget/weui-cell/weui-cell_global.scss */
.weui-cell:first-child:before {
  display: none;
}

/* line 17, ../../../../scss/vendors/weui-sass/src/style/widget/weui-cell/weui-cell_global.scss */
.weui-cells {
  margin-top: 1.17647em;
  background-color: #FFFFFF;
  line-height: 1.41176;
  font-size: 17px;
  overflow: hidden;
  position: relative;
}
/* line 27, ../../../../scss/vendors/weui-sass/src/style/widget/weui-cell/weui-cell_global.scss */
.weui-cells:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #D9D9D9;
  color: #D9D9D9;
  transform-origin: 0 0;
  transform: scaleY(0.5);
}
/* line 30, ../../../../scss/vendors/weui-sass/src/style/widget/weui-cell/weui-cell_global.scss */
.weui-cells:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #D9D9D9;
  color: #D9D9D9;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}

/* line 35, ../../../../scss/vendors/weui-sass/src/style/widget/weui-cell/weui-cell_global.scss */
.weui-cells__title {
  margin-top: .77em;
  margin-bottom: .3em;
  padding-left: 15px;
  padding-right: 15px;
  color: #999999;
  font-size: 14px;
}
/* line 43, ../../../../scss/vendors/weui-sass/src/style/widget/weui-cell/weui-cell_global.scss */
.weui-cells__title + .weui-cells {
  margin-top: 0;
}

/* line 48, ../../../../scss/vendors/weui-sass/src/style/widget/weui-cell/weui-cell_global.scss */
.weui-cells__tips {
  margin-top: .3em;
  color: #999999;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
}

/* line 56, ../../../../scss/vendors/weui-sass/src/style/widget/weui-cell/weui-cell_global.scss */
.weui-cell {
  padding: 10px 15px;
  position: relative;
  display: flex;
  align-items: center;
}

/* line 62, ../../../../scss/vendors/weui-sass/src/style/widget/weui-cell/weui-cell_global.scss */
.weui-cell_primary {
  align-items: flex-start;
}

/* line 65, ../../../../scss/vendors/weui-sass/src/style/widget/weui-cell/weui-cell_global.scss */
.weui-cell__bd {
  flex: 1;
}

/* line 68, ../../../../scss/vendors/weui-sass/src/style/widget/weui-cell/weui-cell_global.scss */
.weui-cell__ft {
  text-align: right;
  color: #999999;
}

/* line 3, ../../../../scss/vendors/weui-sass/src/style/widget/weui-flex/weui-flex.scss */
.weui-flex {
  display: flex;
}

/* line 6, ../../../../scss/vendors/weui-sass/src/style/widget/weui-flex/weui-flex.scss */
.weui-flex__item {
  flex: 1;
}

/* line 3, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-mask.scss */
.weui-mask {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}

/* line 13, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-mask.scss */
.weui-mask_transparent {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/* line 3, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-dialog.scss */
.weui-dialog {
  position: fixed;
  z-index: 5000;
  width: 80%;
  max-width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
}

/* line 17, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-dialog.scss */
.weui-dialog__hd {
  padding: 1.3em 1.6em 0.5em;
}

/* line 20, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-dialog.scss */
.weui-dialog__title {
  font-weight: 400;
  font-size: 18px;
}

/* line 24, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-dialog.scss */
.weui-dialog__bd {
  padding: 0 1.6em 0.8em;
  min-height: 40px;
  font-size: 15px;
  line-height: 1.3;
  word-wrap: break-word;
  word-break: break-all;
  color: #999999;
}
/* line 32, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-dialog.scss */
.weui-dialog__bd:first-child {
  padding: 2.7em 20px 1.7em;
  color: #353535;
}

/* line 37, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-dialog.scss */
.weui-dialog__ft {
  position: relative;
  line-height: 48px;
  font-size: 18px;
  display: flex;
}
/* line 42, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-dialog.scss */
.weui-dialog__ft:after {
  content: " ";
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #D5D5D6;
  color: #D5D5D6;
  transform-origin: 0 0;
  transform: scaleY(0.5);
}

/* line 47, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-dialog.scss */
.weui-dialog__btn {
  display: block;
  flex: 1;
  color: #3CC51F;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
/* line 53, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-dialog.scss */
.weui-dialog__btn:active {
  background-color: #EEEEEE;
}
/* line 58, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-dialog.scss */
.weui-dialog__btn:after {
  content: " ";
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  border-left: 1px solid #D5D5D6;
  color: #D5D5D6;
  transform-origin: 0 0;
  transform: scaleX(0.5);
}
/* line 63, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-dialog.scss */
.weui-dialog__btn:first-child:after {
  display: none;
}

/* line 68, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-dialog.scss */
.weui-dialog__btn_default {
  color: #353535;
}

/* line 71, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-dialog.scss */
.weui-dialog__btn_primary {
  color: #0BB20C;
}

/* line 76, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-dialog.scss */
.weui-skin_android .weui-dialog {
  text-align: left;
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.1);
}
/* line 80, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-dialog.scss */
.weui-skin_android .weui-dialog__title {
  font-size: 21px;
}
/* line 83, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-dialog.scss */
.weui-skin_android .weui-dialog__hd {
  text-align: left;
}
/* line 86, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-dialog.scss */
.weui-skin_android .weui-dialog__bd {
  color: #999999;
  padding: 0.25em 1.6em 2em;
  font-size: 17px;
  text-align: left;
}
/* line 91, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-dialog.scss */
.weui-skin_android .weui-dialog__bd:first-child {
  padding: 1.6em 1.6em 2em;
  color: #353535;
}
/* line 96, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-dialog.scss */
.weui-skin_android .weui-dialog__ft {
  display: block;
  text-align: right;
  line-height: 42px;
  font-size: 16px;
  padding: 0 1.6em 0.7em;
}
/* line 102, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-dialog.scss */
.weui-skin_android .weui-dialog__ft:after {
  display: none;
}
/* line 106, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-dialog.scss */
.weui-skin_android .weui-dialog__btn {
  display: inline-block;
  vertical-align: top;
  padding: 0 .8em;
}
/* line 110, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-dialog.scss */
.weui-skin_android .weui-dialog__btn:after {
  display: none;
}
/* line 114, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-dialog.scss */
.weui-skin_android .weui-dialog__btn:active {
  background-color: rgba(0, 0, 0, 0.06);
}
/* line 117, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-dialog.scss */
.weui-skin_android .weui-dialog__btn:visited {
  background-color: rgba(0, 0, 0, 0.06);
}
/* line 120, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-dialog.scss */
.weui-skin_android .weui-dialog__btn:last-child {
  margin-right: -.8em;
}
/* line 124, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-dialog.scss */
.weui-skin_android .weui-dialog__btn_default {
  color: #808080;
}

@media screen and (min-width: 1024px) {
  /* line 130, ../../../../scss/vendors/weui-sass/src/style/widget/weui-tips/weui-dialog.scss */
  .weui-dialog {
    width: 35%;
  }
}
/* Loader */
/* line 3, ../../../../scss/components/_loading.scss */
.ui-icon-loading {
  background: url(../images/ajax-loader.gif);
  background-size: 2.875em 2.875em;
  background-repeat: no-repeat;
  background-position: 50%;
}

/* Loading screen */
/* line 11, ../../../../scss/components/_loading.scss */
.ui-loading .ui-loader {
  display: block;
}

/* line 14, ../../../../scss/components/_loading.scss */
.ui-loader {
  display: none;
  z-index: 9999999;
  position: fixed;
  top: 50%;
  left: 50%;
  border: 0;
}

/* line 22, ../../../../scss/components/_loading.scss */
.ui-loader-default {
  background: none;
  filter: Alpha(Opacity=18);
  opacity: .18;
  width: 2.875em;
  height: 2.875em;
  margin-left: -1.4375em;
  margin-top: -1.4375em;
}

/* line 31, ../../../../scss/components/_loading.scss */
.ui-loader-verbose {
  width: 12.5em;
  filter: Alpha(Opacity=88);
  opacity: .88;
  box-shadow: 0 1px 1px -1px #fff;
  height: auto;
  margin-left: -6.875em;
  margin-top: -2.6875em;
  padding: .625em;
}

/* line 41, ../../../../scss/components/_loading.scss */
.ui-loader-default h1 {
  font-size: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

/* line 47, ../../../../scss/components/_loading.scss */
.ui-loader-verbose h1 {
  font-size: 1em;
  margin: 0;
  text-align: center;
}

/* line 52, ../../../../scss/components/_loading.scss */
.ui-loader .ui-icon-loading {
  background-color: #000;
  display: block;
  margin: 0;
  width: 2.75em;
  height: 2.75em;
  padding: .0625em;
  -webkit-border-radius: 2.25em;
  border-radius: 2.25em;
}

/* line 62, ../../../../scss/components/_loading.scss */
.ui-loader-verbose .ui-icon-loading {
  margin: 0 auto .625em;
  filter: Alpha(Opacity=75);
  opacity: .75;
}

/* line 67, ../../../../scss/components/_loading.scss */
.ui-loader-textonly {
  padding: .9375em;
  margin-left: -7.1875em;
}

/* line 71, ../../../../scss/components/_loading.scss */
.ui-loader-textonly .ui-icon-loading {
  display: none;
}

/* line 74, ../../../../scss/components/_loading.scss */
.ui-loader-fakefix {
  position: absolute;
}

/* line 10, ../../../../scss/tltd/page/flbHome.scss */
html,
body {
  height: 100%;
}

/* line 15, ../../../../scss/tltd/page/flbHome.scss */
#flbHome {
  font-family: -apple-system-font, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  background-color: #f5f5f9;
}

/* line 20, ../../../../scss/tltd/page/flbHome.scss */
.weui-cells__title {
  background-color: #fff;
  margin-bottom: 0px;
}

/* line 25, ../../../../scss/tltd/page/flbHome.scss */
.page__title_spacing {
  height: 8.5%;
  min-height: 32px;
  padding: 0 15px;
  background-color: #fff;
}
/* line 30, ../../../../scss/tltd/page/flbHome.scss */
.page__title_spacing .weui-cells__title {
  position: relative;
  padding-bottom: 0.5em;
  padding-top: 0.66em;
  margin-top: 0em;
  color: #000;
  font-size: 17px;
}

/* line 41, ../../../../scss/tltd/page/flbHome.scss */
.weui-flex {
  background-color: #fff;
  height: 15.3%;
  min-height: 65px;
  position: relative;
}
/* line 6, ../../../../scss/vendors/weui-sass/src/style/base/mixin/_border-forge.scss */
.weui-flex:before {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  top: -1px;
  border-top: 1px solid #e5e5e5;
}

/* line 48, ../../../../scss/tltd/page/flbHome.scss */
.right_onePx {
  position: relative;
}
/* line 50, ../../../../scss/tltd/page/flbHome.scss */
.right_onePx:before {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  border-right: 1px solid #e5e5e5;
  color: #e5e5e5;
  transform-origin: 100% 0;
  transform: scaleX(0.5);
}

/* line 55, ../../../../scss/tltd/page/flbHome.scss */
.weui-flex__item {
  text-align: center;
  padding: 13px 0px;
}
/* line 58, ../../../../scss/tltd/page/flbHome.scss */
.weui-flex__item img {
  width: 26px;
  height: 28px;
}

/* line 64, ../../../../scss/tltd/page/flbHome.scss */
.module-bottom {
  min-height: 75px;
  border-bottom: 15px solid #f5f5f9;
}

/* line 69, ../../../../scss/tltd/page/flbHome.scss */
.flex-last {
  min-height: 70px;
}

/*# sourceMappingURL=flbHome.css.map */
