@charset "UTF-8";
/*全局公用样式 start*/
/* line 4, ../sass/qrcodePay.scss */
body {
  font-family: 'Open Sans',Helvetica,Arial,Sans-serif,SimHei,"Microsoft YaHei";
  font-size: 14px;
  background: #efefef;
}

/* line 7, ../sass/qrcodePay.scss */
html, body, div, p, ol, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td,
header, section, article, nav, footer {
  margin: 0;
  padding: 0;
}

/*全局公用样式 start end*/
/* line 1, ../sass/components/_header.scss */
header {
  line-height: 44px;
  background-color: #2792e4;
  text-align: center;
  color: #fff;
  font-size: 18px;
  width: 100%;
  font-family: medium;
}

/* line 10, ../sass/components/_header.scss */
.icons-fanhui {
  display: inline-block;
  width: 24px;
  height: 24px;
  float: left;
  margin-left: 10px;
  line-height: 24px;
  text-align: center;
  margin-top: 12px;
  background-image: url("../images/fanhui.png");
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

/* line 4, ../../skinSass/sass/componets/button/button.scss */
.btn.btn_mini {
  line-height: 1.9;
  font-size: 14px;
  padding: 0 .75em;
  display: inline-block;
}

/* line 13, ../../skinSass/sass/componets/button/button.scss */
button.btn, input.btn {
  width: 100%;
  border-width: 0;
  outline: 0;
  -webkit-appearance: none;
}
/* line 18, ../../skinSass/sass/componets/button/button.scss */
button.btn:focus, input.btn:focus {
  outline: 0;
}
/* line 22, ../../skinSass/sass/componets/button/button.scss */
button.btn_inline, button.btn_mini, input.btn_inline, input.btn_mini {
  width: auto;
}

/*gap between btn*/
/* line 28, ../../skinSass/sass/componets/button/button.scss */
.btn + .btn {
  margin-top: 15px;
}

/* line 32, ../../skinSass/sass/componets/button/button.scss */
.btn.btn_inline + .btn.btn_inline {
  margin-top: auto;
  margin-left: 15px;
}

/* line 37, ../../skinSass/sass/componets/button/button.scss */
.btn_area {
  margin: 1.17647em 15px 0.3em;
}
/* line 39, ../../skinSass/sass/componets/button/button.scss */
.btn_area.btn_area_inline {
  display: flex;
}
/* line 41, ../../skinSass/sass/componets/button/button.scss */
.btn_area.btn_area_inline .btn {
  margin-top: auto;
  margin-right: 15px;
  width: 100%;
  flex: 1;
}
/* line 46, ../../skinSass/sass/componets/button/button.scss */
.btn_area.btn_area_inline .btn:last-child {
  margin-right: 0;
}

/* line 3, ../../skinSass/sass/componets/button/btn_global.scss */
.btn {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 2.55556;
  border-radius: 5px;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}
/* line 19, ../../skinSass/sass/componets/button/btn_global.scss */
.btn:after {
  content: " ";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transform: scale(0.5);
  transform-origin: 0 0;
  box-sizing: border-box;
  border-radius: 10px;
}
/* line 33, ../../skinSass/sass/componets/button/btn_global.scss */
.btn.btn_inline {
  display: inline-block;
}

/* line 3, ../../skinSass/sass/componets/button/btn_default.scss */
.btn_default {
  background-color: #F7F7F7;
  color: #FFFFFF;
}
/* line 6, ../../skinSass/sass/componets/button/btn_default.scss */
.btn_default:not(.btn_disabled):visited {
  color: #FFFFFF;
}
/* line 9, ../../skinSass/sass/componets/button/btn_default.scss */
.btn_default:not(.btn_disabled):active {
  color: #A1A1A1;
  background-color: #DEDEDE;
}

/* line 3, ../../skinSass/sass/componets/button/btn_primary.scss */
.btn_primary {
  background-color: #2793e4;
}
/* line 5, ../../skinSass/sass/componets/button/btn_primary.scss */
.btn_primary:not(.btn_disabled):visited {
  color: #FFFFFF;
}
/* line 8, ../../skinSass/sass/componets/button/btn_primary.scss */
.btn_primary:not(.btn_disabled):active {
  color: rgba(255, 255, 255, 0.4);
  background-color: #2383cc;
}

/* line 3, ../../skinSass/sass/componets/button/btn_warn.scss */
.btn_warn {
  background-color: #ef4f4f;
}
/* line 5, ../../skinSass/sass/componets/button/btn_warn.scss */
.btn_warn:not(.btn_disabled):visited {
  color: #FFFFFF;
}
/* line 8, ../../skinSass/sass/componets/button/btn_warn.scss */
.btn_warn:not(.btn_disabled):active {
  color: rgba(255, 255, 255, 0.4);
  background-color: #c13e3e;
}

/* line 3, ../../skinSass/sass/componets/button/btn_disabled.scss */
.btn_disabled {
  color: rgba(255, 255, 255, 0.6);
  background-color: #CCCCCC;
}
/* line 6, ../../skinSass/sass/componets/button/btn_disabled.scss */
.btn_disabled.btn_default {
  color: #FFFFFF;
}

/* line 3, ../../skinSass/sass/componets/button/btn_plain.scss */
.btn_plain_primary {
  color: #2793e4;
  border: 1px solid #2793e4;
}
/* line 6, ../../skinSass/sass/componets/button/btn_plain.scss */
.btn_plain_primary:active {
  border-color: #2383cc;
}
/* line 9, ../../skinSass/sass/componets/button/btn_plain.scss */
.btn_plain_primary:after {
  border-width: 0;
}

/* line 14, ../../skinSass/sass/componets/button/btn_plain.scss */
button.btn_plain_primary, input.btn_plain_primary {
  border-width: 1px;
  background-color: transparent;
}

/* line 19, ../../skinSass/sass/componets/button/btn_plain.scss */
.btn_plain_default {
  color: #5A5A5A;
  border: 1px solid #5A5A5A;
}
/* line 22, ../../skinSass/sass/componets/button/btn_plain.scss */
.btn_plain_default:after {
  border-width: 0;
}

/* line 27, ../../skinSass/sass/componets/button/btn_plain.scss */
button.btn_plain_default, input.btn_plain_default {
  border-width: 1px;
  background-color: transparent;
}

/* line 3, ../sass/layout/_qrcodePay-root.scss */
#billText {
  margin-left: -24px;
}

/* line 7, ../sass/layout/_qrcodePay-root.scss */
section {
  width: 281px;
  text-align: center;
  background: #fff;
  margin: 26px auto;
  border-radius: 10px;
}
/* line 14, ../sass/layout/_qrcodePay-root.scss */
section .barcodeBox img {
  width: 280px;
  margin-top: 20px;
}
/* line 19, ../sass/layout/_qrcodePay-root.scss */
section #img-photo {
  display: none;
}
/* line 22, ../sass/layout/_qrcodePay-root.scss */
section #container {
  background-position: center;
  position: absolute;
  -moz-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
}
/* line 31, ../sass/layout/_qrcodePay-root.scss */
section .countdown-parent {
  font-size: 15px;
  color: #999999;
  padding-bottom: 10px;
}

/* 分期链接按*/
/* line 41, ../sass/layout/_qrcodePay-root.scss */
.button_sp_area {
  padding: 0px 0;
  width: 60%;
  margin: 0 auto;
  text-align: justify;
  text-justify: distribute-all-lines;
  /*ie6-9*/
  font-size: 0;
}
/* line 52, ../sass/layout/_qrcodePay-root.scss */
.button_sp_area:after {
  display: inline-block;
  width: 100%;
  height: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  content: ".";
}

/* line 4, ../sass/layout/_modals-mobile.scss */
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

/* line 17, ../sass/layout/_modals-mobile.scss */
.back {
  background-color: #666;
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

/* line 27, ../sass/layout/_modals-mobile.scss */
.modal-dialog {
  max-width: 85%;
  min-width: 85%;
  margin: 30px auto;
  margin-top: 45%;
  position: relative;
  padding: 0px;
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
}

/* line 37, ../sass/layout/_modals-mobile.scss */
.modal-content {
  background-color: #fff;
  border-radius: 6px;
  outline: 0;
  text-align: center;
}

/* line 46, ../sass/layout/_modals-mobile.scss */
.modal-header > h4 {
  margin: 0px;
  padding: 10px 0px;
}
/* line 50, ../sass/layout/_modals-mobile.scss */
.modal-header .close_div {
  position: absolute;
  top: 0px;
  padding-top: 15px;
  right: 5px;
  display: inline-block;
  width: 40px;
  height: 40px;
}
/* line 58, ../sass/layout/_modals-mobile.scss */
.modal-header .close_div img {
  width: 16px;
}

/* line 64, ../sass/layout/_modals-mobile.scss */
.modal-footer {
  position: relative;
}
/* line 6, ../sass/mixins/_border-forge.scss */
.modal-footer:before {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  -webkit-transform: scaleY(0.5);
  top: -1px;
  border-top: 1px solid #d7d7d7;
}

/* line 68, ../sass/layout/_modals-mobile.scss */
.modal-body {
  padding: 2px 0px 10px 0px;
  padding-top: 2px;
}

/* line 73, ../sass/layout/_modals-mobile.scss */
.modal-body P {
  line-height: 20px;
}

/* line 77, ../sass/layout/_modals-mobile.scss */
.modal-footer {
  line-height: 48px;
}
/* line 79, ../sass/layout/_modals-mobile.scss */
.modal-footer a {
  color: #2792e4;
  font-size: 18px;
}

/* line 85, ../sass/layout/_modals-mobile.scss */
.modal-footer > button {
  background-color: #fff;
  color: #00aaee;
  border-width: 0px;
  width: 100%;
  line-height: 36px;
}

/* line 34, ../sass/components/_refresh.scss */
.arrow {
  width: 5px;
  height: 5px;
  position: relative;
  display: inline-block;
  margin: 1.25px 1.25px;
}
/* line 41, ../sass/components/_refresh.scss */
.arrow:before, .arrow:after {
  content: '';
  border-color: transparent;
  border-style: solid;
  position: absolute;
}
/* line 48, ../sass/components/_refresh.scss */
.arrow .curve {
  position: absolute;
  overflow: hidden;
}
/* line 51, ../sass/components/_refresh.scss */
.arrow .curve:before {
  content: '';
  position: absolute;
}

/* line 61, ../sass/components/_refresh.scss */
.arrow-animate {
  margin-left: 2.5px;
  height: 21.25px;
  width: 21.25px;
  vertical-align: bottom;
  /*
  i{
  @include border-radius(2000px);
  position: absolute;
  top: $h*.115;
  left:$h*.115;
  width: $w*.57;
  height: $h*.57;
  border:$h*.1 solid rgba(255,0,0,.5);
  z-index: 1000;
}*/
}
/* line 80, ../sass/components/_refresh.scss */
.arrow-animate .arrow-item {
  width: 21.25px;
  height: 10.625px;
  position: absolute;
}
/* line 84, ../sass/components/_refresh.scss */
.arrow-animate .arrow-item:before {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  border: 3.825px solid transparent;
}
/* line 91, ../sass/components/_refresh.scss */
.arrow-animate .arrow-item .curve {
  height: 21.25px;
  width: 21.25px;
}
/* line 95, ../sass/components/_refresh.scss */
.arrow-animate .arrow-item .curve:before {
  -moz-border-radius: 2000px;
  -webkit-border-radius: 2000px;
  border-radius: 2000px;
  border: 2.125px solid #2792e4;
  height: 12.1125px;
  width: 12.1125px;
  left: 2.44375px;
}
/* line 103, ../sass/components/_refresh.scss */
.arrow-animate .arrow-item:first-child {
  top: 0;
  left: 0;
}
/* line 106, ../sass/components/_refresh.scss */
.arrow-animate .arrow-item:first-child:before {
  border-top-color: #2792e4;
  bottom: -3.825px;
  right: 1px;
  background: #fff;
  z-index: 99;
}
/* line 113, ../sass/components/_refresh.scss */
.arrow-animate .arrow-item:first-child .curve {
  top: 0;
  left: 0;
}
/* line 116, ../sass/components/_refresh.scss */
.arrow-animate .arrow-item:first-child .curve:before {
  top: 2.44375px;
}

@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
/* line 1, ../sass/layout/_qrcode-tishiRefresh.scss */
#tishiRefresh, #tishijycg, #tishijysb, #tishisx {
  position: absolute;
  text-align: center;
  z-index: 98;
  top: 44px;
  left: 0px;
  width: 100%;
  height: 80%;
  background: #efefef;
  padding-top: 80px;
  display: none;
}
/* line 13, ../sass/layout/_qrcode-tishiRefresh.scss */
#tishiRefresh > img, #tishijycg > img, #tishijysb > img, #tishisx > img {
  width: 80%;
  max-width: 400px;
}
/* line 17, ../sass/layout/_qrcode-tishiRefresh.scss */
#tishiRefresh > p, #tishijycg > p, #tishijysb > p, #tishisx > p {
  margin-top: 20px;
  color: #999999;
}

/*# sourceMappingURL=qrcodePay.css.map */
