@import "../../weui-sass/src/style/base/reset";
@import "./components/header";
@import "../../weui-sass/src/style/widget/weui_cell/weui_cell_global";
@import "../../weui-sass/src/style/widget/weui_cell/weui_form/weui_select";
@import "../../weui-sass/src/style/widget/weui_cell/weui_form/weui_select_after";
@import "../../weui-sass/src/style/widget/weui_cell/weui_form/weui_form_common";

.weui_cell_select {
    padding: 0 15px;
}

.weui_cell_hd{
    width: 105px;
}
.weui_cell_primary{
    text-align: right;
    input{
        text-align: right;
    }
   padding:6px 0px; 
}
.tc{
    text-align: center;
}
.bc{
    background-color: #e2e2e2;
    padding-right: 8px;
}
.weui_input {
    width: 70%;
}
.weui_cell_ft {
    padding-left: 5px;
}
