@charset "utf-8";

/*全局公用样式 start*/
html,body{
   height: 100%; 
}
body {
    font-family: 'Open Sans', Helvetica, Arial, Sans-serif, SimHei, "Microsoft YaHei";
    font-size: 14px;
    background: #efefef;
    color: #999999;
}

html,
body,
div,
p,
ol,
ul,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
select,
button,
textarea,
iframe,
table,
th,
td,
header,
section,
article,
nav,
footer {
    margin: 0;
    padding: 0;
}

a {
    color: #666;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: #d70b30
}

a:focus {
    outline: none
}


/*全局公用样式 start end*/

@import "./layout/orderDetails-root";
@import "./components/header";
#billText {
    margin-left: -24px;
}
