@charset "utf-8";


/*全局公用样式 start*/
body{
    font-family:'Open Sans',Helvetica,Arial,Sans-serif,SimHei,"Microsoft YaHei";font-size:14px; color:#F6F6F9; background: #efefef;
}
html, body, div, p,ol, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th,td,
header,section,article,nav,footer{margin: 0;padding: 0; }
/*body{padding-top:44px; overflow-x: hidden;}*/
body.pb44{padding-bottom:44px}
body.pt44{padding-top:44px}

body.white_bg{ background: #fff;}
h1, h2, h3, h4, h5, h6{font-weight:normal}
img {border: 0 none;vertical-align: top;outline:none;width:100%}
ul, li {list-style-type: none; }
input, select, button, textarea{font-size:16px;font-family: Tahoma, Geneva, sans-serif}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
header,section,article,nav,footer{ display:block}
button {cursor: pointer}
input:focus{outline:none;}
a{color:#666;text-decoration:none;outline:none;cursor:pointer;}
a:hover{text-decoration:none;color:#d70b30}
a:focus{outline:none}
.orange{color:#ff5500}
.blue{color:#00aaee}
.gary{color:#999}
/* input, */textarea{ appearance:none; -webkit-appearance:none}

.disabled,
a.disabled{width:100%;height:44px;line-height:44px;text-align:center;background:#e4e4e4;color:#d2d2d2;font-size:18px; display:inline-block;border:none; cursor:default}

/* hide xunlei plugin assist in chrome */
embed[id^="xunlei_com_thunder_helper_plugin_"]{display:none;}
/* input{ appearance: none;-moz-animation: none; -webkit-appearance: none} */
.clear{ diplay: block; float: none; clear: both; overflow: hidden; width: auto; height: 0; margin: 0 auto; padding: 0; font-size: 0; line-height: 0; }
.fl{float:left;}
.fr{float:right;}
.fr_1{float:right;}

.hide{display: none}
.show{display: block}

a.btn-blue,
a.btn-orange{height:44px;line-height:44px;text-align:center; background:#00aaee;color:#fff;font-size:18px; display:block}
a.btn-orange{background:#f69f07}
.transtion{ transition:all .2s linear;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-o-transition:all .2s linear}

/*全局公用样式 end*/