$weuiCellLineHeight:1.6;
@import "../../../weui-sass/src/style/widget/weui_cell/weui_cell_global";
@import "../../../weui-sass/src/style/widget/weui_cell/picker";
@import "../../../weui-sass/src/style/widget/weui_cell/weui_form/weui_form_common";
@import "../../../weui-sass/src/style/widget/weui_cell/weui_check";
@import "../../../weui-sass/src/style/icon/weui_font";
@import "../../../weui-sass/src/style/icon/weui_icon_font";
@import "../../../weui-sass/src/style/widget/weui_button/weui_button";
@import "../mixins/border-forge";
@import "compass/css3/border-radius";

.weui_cells {
    margin-top: 0em;
}

.module-title {
    padding: 10px 10px 5px 10px;
}

.input {
    color: #222;
}

#applyInstalmentNum {
    width: 88%;
    text-align: right;
    color: #000;
}

label[for=applyInstalmentNum]{
    .weui_cell_ft{
        span{
            color:#000;
        }
    }
}

.f2 {
    flex: 2;
}

.tishi {
    color: red;
    display: none;
}

.tar {
    text-align: right;
    font-size: 14px;
}

#stageNumberBox {
    flex:1;
    >div{
       padding-right: 15px; 
    }
    
    >span {
        display: inline-block;
        width: 86px;
        height: 33px;
        margin: 4px 0px 0px 7px;
        padding-left: 2px;
        line-height: 33px;
        text-align: center;
        font-size: 16px;
    }
    >span.checked {
        background-image: url("../images/kuang_icon.png");
        background-repeat: no-repeat;
        background-size: 88px 33px;
        color: #222;
    }
    >span:not(.checked) {
        @include border-afterforge(88px,
        35px,
        #d7d7d7);
        &:after {
            height: 65px;
            left: -45px;
            top: -17px;
        }
    }
}

.weui_cell_prompt {
    width: 100%;
    color: #999999;
}

.bgb {
    background-color: #1CB2ED;
    margin-bottom: -1px;
    color: #fff;
    padding-top: 0px;
    padding-bottom: 0px;
}
.bgb.bt0{
    padding-bottom: 17px;
    padding-top: 4px;
}

.pt {
    padding-bottom: 8px;
}


.fs14 {
    font-size: 14px;
    line-height: 15px;
}

.lh25_m15 {
    line-height: 2.5em;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.lh20_m12 {
    line-height: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.weui_cell_fl {
    flex: 1;
}

.ts12 {
    font-size: 16px;
}

#countMoney {
    font-size: 20px;
    text-align: right;
}

#eachMoney {
    font-size: 2em;
    text-align: right;
}

.plem {
    text-align: right;
}

.weui_cells_title.bgb {
    margin-top: 0;
    padding-top: 23px;
    padding-bottom: 15px;
    font-size: 16px;

}

.weui_cell_f6 {
    flex: 6;
}

.weui_cell_f2 {
    flex: 1.6;
}

.weui_cell_f3 {
    flex: 3;
}

.tc {
    text-align: center;
}

.weui_cell_f4 {
    flex: 3.5;
}

select {
    font-size: 16px;
    padding: 0px 10px;
    option {
        line-height: 30px;
    }
    option:before {
        border-top: 1px solid #D9D9D9;
    }
    option:first-child:before {
        border-top: 0px solid #D9D9D9;
    }
    option:nth-child(even) {
        background-color: #f5f5f5;
    }
}

#rate {
    border: 0px;
    text-align: right;
    font-size: 17px;
    line-height: 1.6;
    display: block;
    width: 100%;
}

#stageNumberBox {
    &:after {
        content: " ";
        display: inline-block;
        height: 6px;
        width: 6px;
        border-width: 2px 2px 0 0;
        border-color: #C8C8CD;
        border-style: solid;
        transform: rotate(45deg);
        position: relative;
        top: -2px;
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -3px;
    }
}

.toolbar .toolbar-inner {
    height: 2.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
}

.toolbar .title {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    font-size: .85rem;
    font-weight: normal;
    line-height: 2.2rem;
    color: #3d4145;
    text-align: center;
    white-space: nowrap;
}

.toolbar .picker-button {
    position: absolute;
    right: 0;
    box-sizing: border-box;
    height: 2.2rem;
    line-height: 2.2rem;
    color: #04BE02;
    z-index: 1;
    padding: 0 .5rem;
}

.weui_cells_radio .weui_check:checked + .weui_icon_checked:before {
    display: block;
    content: '\EA08';
    color: #09BB07;
    font-size: 16px;
}

.weui-picker-modal {
    height: 14rem;
}

.weui-select-modal {
    height: auto;
}

.fr {
    float: right;
}
.icon-left {
    img{
        width: 18px;
        vertical-align: text-top;
    }   
}
#planApplyNum{
    margin-left:2px;
}
#repaymentPlan{
    color: #333;
    font-size: 14px;
    .modal-row{
        padding: 9px 15px;
        text-align: left;
    }
    
    .plan_close{
        position: absolute;
        right: 10px;
        top: 10px;
        img{
            height: 21px;
            margin: 10px;
        }
    }
    .qishu{
        display: inline-block;
        border: 1px solid #9a9a9a;
        line-height: 28px;
        width: 50px;
        text-align: center;
        margin-right: 10px; 
        @include border-radius(4px);

    }
    .qishu.checked{
        color: #2792e4;
        border: 1px solid #2792e4;
    }
    .title{
        display: inline-block;
        margin-right: 10px;
    }
    .modal-header > h4 {
        margin: 0px;
        padding: 20px 0px 10px 0px;
    }
    .modal-header{
        &:before {
            position: absolute;
            left: 0;
            content: '';
            width: 100%;
            height: 55px;
            border-bottom: 3px solid #2792e4;
            width: 94%;
            margin-left: 3%;  
        }
        
    }
    .modal-dialog{
        max-width: 100%; 
        min-width: 100%; 
        margin-top: 80px;
    }
    .modal-content{
        border-radius: 0px;
    }
    .repayment_body1{
        padding: 5px 0px;
    }
    .repayment_body2{
        position: relative;
       &:before {
            content: " ";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 1px;
            border-top: 1px solid #D9D9D9;
            color: #D9D9D9;
            transform-origin: 0 0;
            transform: scaleY(0.5);
        } 
    }
    .modal-footer:before {
        
    }
    .table_box{
        text-align: center;
        background: #ffeeee;
        padding: 10px 0 10px 0;
    }
    table.gridtable {
        .w70{
            width: 40px;
            min-width: 40px;
            max-width: 40px;
        }
        .w90{
            width: 80px;
            min-width: 80px;
            max-width: 80px;
        }
        thead tr {  
            display:block;  
        }  
        margin: auto;
        font-family: verdana,arial,sans-serif;
        font-size:11px;
        color:#333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
        tbody {  
            display: block;  
            height: 110px;  
            overflow: auto;  

        }  
    }
    table.gridtable th {
        border-width: 1px;
        padding: 8px 10px;
        color: #333;
        border-style: solid;
        border-color: #666666;
        background-color: #c4c4c4;
    }
    table.gridtable td {
        border-width: 1px;
        padding: 8px 10px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff00;;
    }
    ul{
        font-size: 12px;
        text-align: left;
        padding: 8px 25px;
    }
    .co99{
        color: #999;
    }
}