@charset "utf-8";
@import "../components/btn_disabled";
@import "../../../weui-sass/src/style/widget/weui_button/weui_button";
#footer {
    padding: 0px 15px 10px 15px;
    >div {
        margin-top: 20px;
    }
    #checkButton {
        display: inline-block;
        
        >label {
            font-szie: 13px;
            font-size: 13px;
            color: #A5A1A1;
        }
        input[type="checkbox"] {
            display: none;
        }
    }
    >div:last-child {
        #submitA {
            font-size: 18px;
            line-height: 46px
        }
    }
    input {
        height: 0px;
    }
    #agreement-box>a {
        color: #2792e4;
        font-size: 13px;
    }
    .icheckbox-blue {
        display: inline-block;
        vertical-align: bottom;
        margin: 0;
        padding: 0;
        width: 22px;
        height: 22px;
        background: url(../images/blue@2x.png) no-repeat;
        background-size: 70px 24px;
        border: none;
        cursor: pointer;
        -moz-transform: scale(0.82);
        -webkit-transform: scale(0.82);
        -o-transform: scale(0.82);
    }
    .icheckbox-blue.checked {
        background-position: -48px 0;
    }
    .weui_btn:after {
        border: 0px solid rgba(0, 0, 0, 0.2);
    }
}
