@charset "utf-8";
@import "../mixins/border-forge";
@import "compass/css3";
.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.back {
    background-color: #666;
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.modal-dialog {
    max-width: 85%;
    min-width: 85%;
    margin: 30px auto;
    margin-top: 45%;
    position: relative;
    padding: 0px;
    @include border-radius(4px, 4px)
}

.modal-content {
    background-color: #fff;
    border-radius: 6px;
    //   background-clip: padding-box;
    outline: 0;
    text-align: center;
}

.modal-header > h4 {
    margin: 0px;
    padding: 10px 0px;
}

.modal-footer {
    @include border-forge;
}

.modal-body {
    padding: 2px 0px 10px 0px;
    padding-top: 2px;
}

.modal-body P {
    line-height: 20px;
}

.modal-footer {
    line-height: 48px;
    a {
        color: #2792e4;
        font-size: 18px;
    }
}

.modal-footer > button {
    background-color: #fff;
    color: #00aaee;
    border-width: 0px;
    width: 100%;
    line-height: 36px;
}
