header{
    line-height: 44px;
    background-color: #2792e4;
    text-align: center;
    color: #fff;
    font-size: 18px;
    width: 100%;
}
.icons-fanhui{
    display: inline-block;
    width: 24px;
    height: 24px;
    float: left;
    margin-left: 10px;
    line-height: 24px;
    text-align: center;
    margin-top: 12px;
    background-image:url("../images/fanhui.png");
    background-repeat: no-repeat;
    background-size: 24px 24px;
}
